---
import { getCollection, render } from "astro:content";
import {SHOW_BUY_BUTTON} from "astro:env/server";
import Layout from "../../layouts/Layout.astro";
import BookScore from "../../components/BookScore.astro";
import BuyButton from "../../components/BuyButton.astro";


// Creando rutas dinamicas
export async function getStaticPaths(){
  
    const books = await getCollection("books");

    return books.map(book=>({
        params: {id: book.slug},
        props: {book}
    }))
}

//Destructurando los datos de los libros

const {book} = Astro.props;
const {data,slug} = book;
const {title,author,img,readtime,description,buy} = data;


//Renderizando contenido .md
const {Content} = await render(book);

export const prerender = true
---


<Layout title=`${title} - DevBooks`>
    <div class="flex gap-12">
        <aside class="flex flex-col items-center gap-4">
            <a href="/" class="hover:underline opacity-70">⬅ Volver Atras</a>
            <img
                transition:name={`img-${slug}`} 
                class="rounded w-72 h-auto" 
                src={`/${img}`} 
                alt={title} 
            />
            <!-- Enlace para comprar -->
            <BookScore server:defer>
                <span slot="fallback" class="text-xs opacity-70"> cargando puntuacion</span>
            </BookScore>

             {
                SHOW_BUY_BUTTON && <BuyButton server:defer buy={buy} />
             }
        </aside>
        <main class="max-w-3xl">
            <h1 class="text-4xl font-bold mb-4">{title}</h1>
            <div class=" prose prose-invert">
                <Content />
            </div>
        </main>
    </div>
</Layout>